{{#wireframePath}}
<p align="center">
  <img src="../../{{{wireframePath}}}" width="40%"/>
</p>
{{/wireframePath}}
<h1 align="center">
  {{info.name}}
  <br>
  <sup><sub><sup>{{info.pitch}}<sup></sub>
</h1>

{{#info.description}}
{{.}}
{{/info.description}}

{{#info.inspirationLinks.0}}
## Inspiration

{{#info.inspirationLinks}}
- {{{.}}}
{{/info.inspirationLinks}}
{{/info.inspirationLinks.0}}