{{#wireframePaths.0}}
<p align="center">
{{#wireframePaths}}
  <img src="../../{{{.}}}" width="{{wireframeWidths}}%"/>
{{/wireframePaths}}
</p>
{{/wireframePaths.0}}
<h1 align="center">
  {{info.name}}
  <br>
  <sup><sub><sup>{{info.pitch}}<sup></sub>
</h1>

{{#info.introduction}}
{{#body.0}}
{{#body}}
{{{.}}}
{{/body}}

{{/body.0}}
{{#imagePaths.0}}
{{#imagePaths}}
<img src="{{{.}}}" width="490"/>
{{/imagePaths}}

{{/imagePaths.0}}
{{/info.introduction}}
{{#info.supplies}}
# Supplies

{{#body.0}}
{{#body}}
{{{.}}}

{{/body}}
{{/body.0}}
{{#imagePaths.0}}
{{#imagePaths}}
<img src="{{{.}}}" width="490"/>
{{/imagePaths}}

{{/imagePaths.0}}
{{#materials.0}}
## Materials

{{#materials}}
- {{.}}
{{/materials}}

{{/materials.0}}
{{#tools.0}}
## Tools

{{#tools}}
- {{.}}
{{/tools}}

{{/tools.0}}
{{/info.supplies}}
{{#info.steps.0}}
{{#info.steps}}
# {{{title}}}

{{#body.0}}
{{#body}}
{{{.}}}
{{/body}}

{{/body.0}}
{{#imagePaths.0}}
{{#imagePaths}}
<img src="{{{.}}}" width="490"/>
{{/imagePaths}}

{{/imagePaths.0}}
{{/info.steps}}
{{/info.steps.0}}
{{#galleryPaths.0}}
{{#galleryPaths}}
![](/{{{.}}})
{{/galleryPaths}}

{{/galleryPaths.0}}
{{#info.inspirationLinks.0}}
## Inspiration

{{#info.inspirationLinks}}
- {{{.}}}
{{/info.inspirationLinks}}

{{/info.inspirationLinks.0}}
