{{#wireframePaths.0}}
<p align="center">
{{#wireframePaths}}
  <img src="../../{{{.}}}" width="{{wireframeWidths}}%"/>
{{/wireframePaths}}
</p>
{{/wireframePaths.0}}
<h1 align="center">
  {{info.name}}
  <br>
  <sup><sub><sup>{{info.pitch}}<sup></sub>
</h1>

{{#info.description}}
{{{.}}}

{{/info.description}}
{{#galleryPaths.0}}
{{#galleryPaths}}
![](/{{{.}}})
{{/galleryPaths}}

{{/galleryPaths.0}}
{{#info.inspirationLinks.0}}
## Inspiration

{{#info.inspirationLinks}}
- {{{.}}}
{{/info.inspirationLinks}}
{{/info.inspirationLinks.0}}