# Project Plans

{{#wireframesByCategory}}
{{#0}}

### {{0}}
{{/0}}
<p align="center">
{{#1}}
  <a href="{{{path}}}">
    <img src="{{{wireframePaths.0}}}" width="45%"/>
  </a>
{{/1}}
</p>
{{/wireframesByCategory}}

## Development

### Layout

plans
└ <name>
  └ README.md
  └ model.f3d
  └ model.stl
  └ plans.pdf
  └ images
    └ wireframe.png
	└ ...

### Format

```bash
$ deno fmt
```

### Build

```bash
$ deno run --unstable --allow-env --allow-read --allow-write index.ts
```

## LICENSE

[MIT](./LICENSE)
