# Project Plans

<p align="center">
{{#wireframes}}
  <a href="{{{path}}}">
    <img src="{{{wireframePath}}}" width="45%"/>
  </a>
{{/wireframes}}
</p>

## Development

### Layout

plans
└ <name>
  └ README.md
  └ model.f3d
  └ model.stl
  └ plans.pdf
  └ images
    └ wireframe.png
	└ ...

### Format

```bash
$ deno fmt
```

### Build

```bash
$ deno run --unstable --allow-env --allow-read --allow-write index.ts
```

## LICENSE

[MIT](./LICENSE)
